{% extends 'app_web/base.html' %}
{% load static %}

{% block title %}
  Blog Online | Cambiar Contraseña
{% endblock %}

{% block contenido %}
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1 class="text-center mt-4">Cambiar tu contraseña</h1>
        <form action="" method="POST">
          {% csrf_token %}
          {{ form_password.as_p }}

          <button type="summit" class="btn btn-primary">Cambiar Contraseña</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
