{% extends 'app_web/base.html' %}
{% load static %}

{% block title %}
  Blog Online | Editar Perfil
{% endblock %}

{% block contenido %}
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1 class="text-center mt-4">Editar Informacion del Perfil</h1>

        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}

          <button type="summit" class="btn btn-primary">Realizar Cambios</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
