{% extends 'app_web/base.html' %}
{% load static %}

{% block title %}
  Blog Online | Inicio de Sesión
{% endblock %}

{% block contenido %}
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-4">
        {% if error %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        {% if success_message %}
          <div id="success-message" class="alert alert-success" role="alert">{{ success_message }}</div>
        {% endif %}
        <form action="" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario:</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Ingrese el nombre de usuario" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese la contraseña" />
          </div>
          <button type="submit" class="btn btn-dark" style="width: 100%;">Ingresar</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    const successMessage = document.getElementById('success-message')
    if (successMessage) {
      setTimeout(() => {
        successMessage.style.display = 'none'
        window.location.href = "{% url 'inicio' %}"
      }, 1000)
    }
  </script>
{% endblock %}
